@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: #000;
    color: #ffff;
    text-align: center;
}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header p{
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: #fff;
    color: #000;
}

section.img{
    background-color: rgb(37, 37, 37);
    color: #fff;
}

section.img > p{
    background-color: rgba(0, 0, 0, 0.212);
    width: 400px;
}

/* RODAPÉ */


footer{
    background-color: #000;
    color: #ffff;
    text-align: center;
    padding: 10px;
}