@charset "UTF-8";


/*Versão para as demais mídias

pequenas Telas: até 600px

Celular: de 600 até 768px

tablet: de 768px 992px

desktop: 992px até 1200px

Grandes Telas: Acima De 1200px

*/

@media print {
    body{
        background-image: url(../img/back-print.jpg);;/*Desnecessarii*/
    }

    main h1{
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
    }

    main{
        border: 2px solid black;
        width: 90%;
    }

    #tv ,#tablet,#pc,#phone{ 
        display: none;
    }

    #print{
        display: block;
    }

    main::after{
        content: 'Essa Impressão foi feita atráves do site cursoemvideo.com por pedro zuza';
        text-decoration: overline;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    body{
        background-image: url(../img/back-tablet.jpg);
    }

    #tv ,#print,#pc,#phone{ 
        display: none;
    }

    #tablet{
        display: block;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    body{
        background-image: url(../img/back-pc.jpg);
    }
    
    main{
        width: 700px;
        padding: 10px;
        box-shadow: 3px 3px 10px black;
    }
    #tv ,#print,#tablet,#phone{ 
        display: none;
    }

    #pc{
        display: block;
    }
}

@media screen and (min-width: 1201px){
    body{
        background-image: url(../img/back-tv.jpg);
    }

    main{
        width: 850px;
    }

    #pc ,#print,#tablet,#phone{ 
        display: none;
    }

    #tv{
        display: block;
    }
}